android-chrome-96x96.png
apple-touch-icon.png
browserconfig.xml
favicon-16x16.png
favicon-32x32.png
favicon.ico
google68a1646384b47631.html
logo-universum.png
manifest.json
mstile-150x150.txt
safari-pinned-tab.svg
mstile-150x150.png
images/
logowki/